extends layout 

block content

    each message in messages 
        - let username = "?"
        - let colour = "hsl(0, 0%, 55%)"
        - if (user && user.isMember === true) { username = message.user.username; colour = `hsl(${message.user.hue}, 100%, 40%)`}
        - let ownerClass = "not-user";
        - if (user && user.username === message.user.username) {ownerClass = "is-user"; username = message.user.username; colour = `hsl(${message.user.hue}, 100%, 40%)`}


        div(class=ownerClass)
            div
                .user= username
                - let speechBubble = "speech-bubble"
                - if (user && currentUser.username === message.user.username) {speechBubble = "speech-bubble bubble-right"}
                div(class=speechBubble style=`background-color: ${colour}`)= message.text
            div.bottom-bar
                if currentUser && currentUser.isAdmin === true
                    span.delete 
                        form(action="/delete" method="POST")
                            input(name="messageId" type="hidden" value=message.id)
                            button.delete-but Delete
                    span.delete  &nbsp; | &nbsp;
                .date= message.dateCreated_format

    if currentUser
        div         
            form.new-message(action="" method="POST")
                .user= currentUser.username
                .speech-bubble-new
                    input(type="hidden" value=currentUser.username)
                    textarea(name="newMessage" rows="4" cols="50" placeholder="Send a new message...")
                button.send-but Send